body {
    font-family: Roboto;
    font-size: 20px;
    color:#fff !important;
    background-color: #282828 !important;
    background-position: center;
    background-size: cover;
    
}

.navbar {
    background-color: #0C0032;
    border-color: #190061;
    
.content {
        padding: 16px;


.sticky {
        position: fixed;
        top: 0;
        width: 100%;

.sticky + .content {
            padding-top: 60px;
          }