body {
    font-family: Roboto;
    font-size: 20px;
    color:#fff !important;
    background-color: #000000 !important;
    background-position: center;
    background-size: cover;
    
}

.navbar {
    background-color: #0C0032;
    border-color: #190061;
    
